<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education</title>
</head>
<body>
<h3>Education</h3>
    <form method="post">
        <p>Educational level: <input type="text" value="" name="educationalLevel"/></p>
        <p>Training Area: <input type="text" value="" name="trainingArea"/></p>
        <p>Course name: <input type="text" value="" name="courseName"/></p>
        <p>Institution name: <input type="int" value="" name="institution"/></p>
        <p>Start date: <input type="date" value="" name="startDate"/></p>
        <p>Final Date: <input type="date" value="" name="finalDate"/></p>
        <p>City: <input type="text" value="" name="city"/></p>
        <p>Province: <input type="text" value="" name="province"/></p>
        <p>Country: <input type="text" value="" name="country"/></p>
        <button type="submit">Save</button>
    </form>

</body>
</html>