<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="../static/estilos.css" th:href="@{estilos.css}" >
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/main.js"></script>


</head>
<body>


<div class="wrap">
    <ul class="tabs">
        <li><a href="#personal"><span class="fa fa-home"></span><span class="tab-text">Personal</span></a></li>
        <li><a href="#education"><span class="fa fa-group"></span><span class="tab-text">Education</span></a></li>

    </ul>

    <div class="secciones">
        <article id="personal">
            <h1>Personal</h1>
            <form action="#" th:action="@{/index}" th:object="${person}" method="post">
                <input type="hidden"  th:value="${id}"  th:field="*{id}" />

<!--                <fieldset th:align="justify">-->
                    <p>First name: <input type="text" th:field="*{firstName}" />
                        <label th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}"  th:class="'error'">Error in First Name</label></p>
                    <p>Middle name: <input type="text" th:field="*{middleName}" /></p>
                    <p>Family name: <input type="text" th:field="*{familyName}" />
                        <label th:if="${#fields.hasErrors('familyName')}"  th:errors="*{familyName}"  th:class="'error'">Error in Family Name</label></p>
<!--                </fieldset>-->

<!--                <fieldset th:align="justify">-->
                    <p>Age: <input type="text" th:field="*{age}"/></p>
                    <!--            <label th:if="${#fields.hasErrors('age')}"  th:errors="*{age}"  th:class="'error'">Error in Age</label>-->
                    <p>Date of birth: <input type="date" th:field="*{dateBirth}" /></p>
                    <!--            <label th:if="${#fields.hasErrors('dateBirth')}"  th:errors="*{dateBirth}"  th:class="'error'">Error in Date Birth</label>-->
                    <p>City of birth: <input type="text" th:field="*{cityBirth}" />
                        <label th:if="${#fields.hasErrors('cityBirth')}"  th:errors="*{cityBirth}"  th:class="'error'">Error in City Birth</label></p>
                    <p>Province of birth: <input type="text" th:field="*{provinceBirth}" /></p>
                    <p>Country of birth: <input type="text" th:field="*{countryBirth}" />
                        <label th:if="${#fields.hasErrors('countryBirth')}"  th:errors="*{countryBirth}"  th:class="'error'">Error in Country Birth</label></p>
                    <p>Nationality: <input type="text" th:field="*{nationality}" />
                        <label th:if="${#fields.hasErrors('nationality')}"  th:errors="*{nationality}"  th:class="'error'">Error in Nationality</label></p>
<!--                </fieldset>-->

<!--                <fieldset th:align="justify">-->
                    <p>Sex: <input type="radio" th:field="*{sex}" value="Male"/>Male <input type="radio" th:field="*{sex}" value="Female"/>Female
                        <label th:if="${#fields.hasErrors('sex')}"  th:errors="*{sex}"  th:class="'error'">Error in Sex</label></p>
                    <p>Civil Status:
                        <select th:field="*{civilStatus}">
                            <option th:each="civilStatus : ${status}" th:value="${civilStatus}" th:text="${civilStatus}">Civil Status</option>
                        </select>
                        <label th:if="${#fields.hasErrors('civilStatus')}"  th:errors="*{civilStatus}"  th:class="'error'">Civil Status</label></p>
<!--                </fieldset>-->
                <br>
                <button type="submit">Save</button>
            </form>
        </article>
        <article id="education">
            <h1>Education</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel voluptates unde, consequuntur aliquid architecto rem numquam expedita minima dolorem pariatur recusandae, eius quod quia aspernatur id impedit, tenetur! Aspernatur incidunt molestiae dolores animi ea praesentium ipsam tenetur voluptas cupiditate perspiciatis eum nihil, natus exercitationem libero earum fuga dignissimos impedit numquam, quasi, placeat officiis voluptates, ad reprehenderit fugiat? Fugiat aperiam et magni, molestiae, numquam consectetur vitae sapiente cupiditate totam laboriosam voluptate obcaecati, aliquam placeat? Suscipit dolores fuga laudantium sed, qui magni iusto dolore quia. Quis fugit exercitationem porro. Rerum nihil omnis recusandae ratione fuga alias eligendi, earum sunt veritatis praesentium eum perspiciatis. Molestias deserunt, iure neque animi quod! Impedit reprehenderit cumque, numquam velit quae cum eius quidem similique laudantium hic deleniti!</p>
        </article>
    </div>
</div>

</body>
</html>