<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="estilos.css" th:href="@{/estilos.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="main.js"></script>


</head>
<body>
    <div class="wrap">
        <ul class="tabs">
            <li><a href="person"><span class="fa fa-home"></span><span class="tab-text">Personal Information</span></a></li>
            <li><a href="#tab2"><span class="fa fa-mortar-board"></span><span class="tab-text">Education</span></a></li>
            <li><a href="#tab3"><span class="fa fa-briefcase"></span><span class="tab-text">Work</span></a></li>
            <li><a href="#tab4"><span class="fa fa-bookmark"></span><span class="tab-text">Languages</span></a></li>
        </ul>

        <div class="forms">
            <article id="form1">
                <form  method="post">
                    <p>First name: <input type="text" value="" name="firstName"/></p><br>
                    <p>Middle name: <input type="text" value="" name="middleName"/></p><br>
                    <p>Family name: <input type="text" value="" name="familyName"/></p><br>
                    <p>Age: <input type="int" value="" name="age"/></p><br>
                    <p>Date of birth: <input type="date" value="" name="dateBirth"/></p><br>
                    <p>City of birth: <input type="text" value="" name="cityBirth"/></p><br>
                    <p>Province of birth: <input type="text" value="" name="provinceBirth"/></p><br>
                    <p>Country of birth: <input type="text" value="" name="countryBirth"/></p><br>
                    <p>Nationality: <input type="text" value="" name="nationality"/></p><br>
                    <p>Sex: <input type="text" value="" name="sex"/></p><br>
                    <p>Civil Status: <input type="text" value="" name="civilStatus"/></p><br>
                    <br>
                    <button type="submit">Save</button>

                </form>




            </article>

            <article id="tab2">

            </article>
            <article id="tab3">

            </article>
            <article id="tab4">

            </article>
        </div>
    </div>
</body>
</html>