<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
    <h3>Personal Information</h3>
        <form  method="post">
            <p>First name: <input type="text" value="" name="firstName"/></p>
            <p>Middle name: <input type="text" value="" name="middleName"/></p>
            <p>Family name: <input type="text" value="" name="familyName"/></p>
            <p>Age: <input type="int" value="" name="age"/></p>
            <p>Date of birth: <input type="date" value="" name="dateBirth"/></p>
            <p>City of birth: <input type="text" value="" name="cityBirth"/></p>
            <p>Province of birth: <input type="text" value="" name="provinceBirth"/></p>
            <p>Country of birth: <input type="text" value="" name="countryBirth"/></p>
            <p>Nationality: <input type="text" value="" name="nationality"/></p>
            <p>Sex: <input type="text" value="" name="sex"/></p>
            <p>Civil Status: <input type="text" value="" name="civilStatus"/></p>

            <button type="submit">Save</button>
        </form>


<!--    <form action="#" th:action="@{savePerson}" th:object="${person}" method="post">-->
<!--        <p>First name: <input type="text" th:field="*{firstName}" /></p>-->
<!--        <p>Middle name: <input type="text" th:field="*{middleName}" /></p>-->
<!--        <p>Family name: <input type="text" th:field="*{familyName}" /></p>-->
<!--        <p>Age: <input type="text" th:field="*{age}" /></p>-->
<!--        <p>Date of birth: <input type="text" th:field="*{dateBirth}" /></p>-->
<!--        <p>City of birth: <input type="text" th:field="*{cityBirth}" /></p>-->
<!--        <p>Province of birth: <input type="text" th:field="*{provinceBirth}" /></p>-->
<!--        <p>Country of birth: <input type="text" th:field="*{countryBirth}" /></p>-->
<!--        <p>Nationality: <input type="text" th:field="*{nationality}" /></p>-->
<!--        <p>Sex: <input type="text" th:field="*{sex}" /></p>-->
<!--        <p>Civil Status: <input type="text" th:field="*{civilStatus}" /></p>-->
<!--    </form>-->
<!--    <form name="person" method="post">-->
<!--        <p>First name: <input type="text" name="firstName" /></p>-->
<!--        <p>Middle name: <input type="text" name="middleName" /></p>-->
<!--        <p>Family name: <input type="text" name="familyName" /></p>-->
<!--        <p>Age: <input type="text" name="age" /></p>-->
<!--        <p>Date of birth: <input type="text" name="dateBirth" /></p>-->
<!--        <p>City of birth: <input type="text" name="cityBirth" /></p>-->
<!--        <p>Province of birth: <input type="text" name="provinceBirth" /></p>-->
<!--        <p>Country of birth: <input type="text" name="countryBirth" /></p>-->
<!--        <p>Nationality: <input type="text" name="nationality" /></p>-->
<!--        <p>Sex: <input type="text" name="sex" /></p>-->
<!--        <p>Civil Status: <input type="text" name="civilStatus" /></p>-->
<!--    </form>-->

</body>
</html>