<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <meta charset="UTF-8">-->
    <title>Person</title>
</head>
<body>
    <h3>Personal Information</h3>



    <form action="#" th:action="@{/person}" th:object="${person}" method="post">
        <input type="hidden"  th:value="${id}"  th:field="*{id}" />

        <fieldset th:align="justify">
        <p>First name: <input type="text" th:field="*{firstName}" />
            <label th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}"  th:class="'error'">Error in First Name</label></p>
        <p>Middle name: <input type="text" th:field="*{middleName}" /></p>
        <p>Family name: <input type="text" th:field="*{familyName}" />
            <label th:if="${#fields.hasErrors('familyName')}"  th:errors="*{familyName}"  th:class="'error'">Error in Family Name</label></p>
        </fieldset>

        <fieldset th:align="justify">
        <p>Age: <input type="text" th:field="*{age}"/></p>
<!--            <label th:if="${#fields.hasErrors('age')}"  th:errors="*{age}"  th:class="'error'">Error in Age</label>-->
        <p>Date of birth: <input type="date" th:field="*{dateBirth}" /></p>
<!--            <label th:if="${#fields.hasErrors('dateBirth')}"  th:errors="*{dateBirth}"  th:class="'error'">Error in Date Birth</label>-->
        <p>City of birth: <input type="text" th:field="*{cityBirth}" />
            <label th:if="${#fields.hasErrors('cityBirth')}"  th:errors="*{cityBirth}"  th:class="'error'">Error in City Birth</label></p>
        <p>Province of birth: <input type="text" th:field="*{provinceBirth}" /></p>
        <p>Country of birth: <input type="text" th:field="*{countryBirth}" />
            <label th:if="${#fields.hasErrors('countryBirth')}"  th:errors="*{countryBirth}"  th:class="'error'">Error in Country Birth</label></p>
        <p>Nationality: <input type="text" th:field="*{nationality}" />
            <label th:if="${#fields.hasErrors('nationality')}"  th:errors="*{nationality}"  th:class="'error'">Error in Nationality</label></p>
        </fieldset>

        <fieldset th:align="justify">
            <p>Sex: <input type="radio" th:field="*{sex}" value="Male"/>Male <input type="radio" th:field="*{sex}" value="Female"/>Female
            <label th:if="${#fields.hasErrors('sex')}"  th:errors="*{sex}"  th:class="'error'">Error in Sex</label></p>
        <p>Civil Status:
            <select th:field="*{civilStatus}">
                <option th:each="civilStatus : ${status}" th:value="${civilStatus}" th:text="${civilStatus}">Civil Status</option>
            </select>
            <label th:if="${#fields.hasErrors('civilStatus')}"  th:errors="*{civilStatus}"  th:class="'error'">Civil Status</label></p>
        </fieldset>
        <br>
        <button type="submit">Save</button>
    </form>


</body>
</html>