<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prueba</title>
</head>
<body>

<ol>
    <li><a href="person"><span class="fa fa-home"></span><span class="tab-text">Personal Information</span></a></li>
    <li><a href="product/list.html" th:href="@{/product/list}">Product List</a></li>
    <li><a href="order/list.html" th:href="@{/order/list}">Order List</a></li>
    <li><a href="subscribe.html" th:href="@{/subscribe}">Subscribe to our Newsletter</a></li>
    <li><a href="userprofile.html" th:href="@{/userprofile}">See User Profile</a></li>
</ol>

<p>The year is <span th:text="2013">1492</span>.</p>
<p>In two years, it will be <span th:text="2013 + 2">1494</span>.</p>

<span th:text="'Welcome to our application, ' + ${user.name} + '!'"></span>

<!--<form action="subscribe.html">-->
<!--    <fieldset>-->
<!--        <input type="text" name="email" />-->
<!--        <input type="submit" value="Subscribe me!" />-->
<!--    </fieldset>-->
<!--</form>-->
<!---->
<!--<form action="subscribe.html" th:attr="action=@{/subscribe}">-->
<!--    <fieldset>-->
<!--        <input type="text" name="email" />-->
<!--        <input type="submit" value="Subscribe me!" th:attr="value=#{subscribe.submit}"/>-->
<!--    </fieldset>-->
<!--</form>-->
<!---->
<form action="/gtvg/subscribe">
    <fieldset>
        <input type="text" name="email" />
        <input type="submit" value="¡Suscríbeme!"/>
    </fieldset>
</form>

<li><a href="product/list.html" th:href="@{/product/list}">Product List</a></li>

<h4>Ejemplo de div y span </h4>
<p>
    Esto es un párrafo dentro de un div,
    <span style="color: red;"> y esto un span dentro de un párrafo. </span>
</p>

<img src="../../images/gtvglogo.png" th:src="@{/images/gtvglogo.png}" th:alt-title="#{logo}" />

<input type="checkbox" name="active" th:checked="${user.active}" />

<table>
    <tr>
        <th>NAME</th>
        <th>PRICE</th>
        <th>IN STOCK</th>
    </tr>
    <tr th:each="prod,iterStat : ${prods}" th:class="${iterStat.odd}? 'odd'">
        <td th:text="${prod.name}">Onions</td>
        <td th:text="${prod.price}">2.41</td>
        <td th:text="${prod.inStock}? #{true} : #{false}">yes</td>
    </tr>
</table><br>

<input type="text" id="datePlanted" name="datePlanted" th:value="*{datePlanted}" />
<br>

<div>
    <label th:for="${#ids.next('covered')}" th:text="#{seedstarter.covered}">Covered</label>
    <input type="checkbox" th:field="*{covered}" />
</div>
<br>

<ul>
    <li th:each="feat : ${allFeatures}">
        <input type="checkbox" th:field="*{features}" th:value="${feat}" />
        <label th:for="${#ids.prev('features')}" th:text="#{${'seedstarter.feature.' + feat}}">Heating</label>
    </li>
</ul>

<ul>
    <li>
        <input id="features1" name="features" type="checkbox" value="SEEDSTARTER_SPECIFIC_SUBSTRATE" />
        <input name="_features" type="hidden" value="on" />
        <label for="features1">Seed starter-specific substrate</label>
    </li>
    <li>
        <input id="features2" name="features" type="checkbox" value="FERTILIZER" />
        <input name="_features" type="hidden" value="on" />
        <label for="features2">Fertilizer used</label>
    </li>
    <li>
        <input id="features3" name="features" type="checkbox" value="PH_CORRECTOR" />
        <input name="_features" type="hidden" value="on" />
        <label for="features3">PH Corrector used</label>
    </li>
</ul>
<br>

<ul>
    <li th:each="ty : ${allTypes}">
        <input type="radio" th:field="*{type}" th:value="${ty}" />
        <label th:for="${#ids.prev('type')}" th:text="#{${'seedstarter.type.' + ty}}">Wireframe</label>
    </li>
</ul>

<select th:field="*{type}">
    <option th:each="type : ${allTypes}" th:value="${type}" th:text="#{${'seedstarter.type.' + type}}">Wireframe</option>
</select><br>


<select th:field="*{percentage}">
    <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}">
    </option>
</select>
<br>
<select th:field="*{percentage}">
    <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}"
            th:selected="${i==75}"></option>
</select>

<form name = 'f' th: object = "$ {personForm}" method = 'POST'>
    <table>
        <tr>
            <td> Seleccionar país: </td>
            <td>
                <select th: field = "* {countryId}">
                    <option value = ""> - </option>
                    <opción th: cada = "país: $ {países}"
                            th: value = "$ {country.countryId}"
                            th: utext = "$ {country.countryName}" />
                </select>

            </td>
        </tr>

        <tr>
            <td> <input name = "submit" type = "submit" value = "submit" /> </td>
        </tr>
    </table>
</form>

</body>



<!--<div th:object="${session.user}">-->
<!--    <p>Name: <span th:text="*{firstName}">Sebastian</span>.</p>-->
<!--    <p>Surname: <span th:text="*{lastName}">Pepper</span>.</p>-->
<!--    <p>Nationality: <span th:text="*{nationality}">Saturn</span>.</p>-->
<!--</div>-->
<!---->
<!--<div> <p>Name: <span th:text="${session.user.firstName}">Sebastian</span>.</p>-->
<!--    <p>Surname: <span th:text="${session.user.lastName}">Pepper</span>.</p>-->
<!--    <p>Nationality: <span th:text="${session.user.nationality}">Saturn</span>.</p>-->
<!--</div>-->
<!---->
<!--<div th:object="${session.user}">-->
<!--    <p>Name: <span th:text="*{firstName}">Sebastian</span>.</p>-->
<!--    <p>Surname: <span th:text="${session.user.lastName}">Pepper</span>.</p>-->
<!--    <p>Nationality: <span th:text="*{nationality}">Saturn</span>.</p>-->
<!--</div>-->
<!---->
<!--<div th:object="${session.user}"> <p>Name: <span th:text="${#object.firstName}">Sebastian</span>.</p>-->
<!--    <p>Surname: <span th:text="${session.user.lastName}">Pepper</span>.</p>-->
<!--    <p>Nationality: <span th:text="*{nationality}">Saturn</span>.</p>-->
<!--</div>-->

</body>
</html>